<% provide(:title, "クックメニューとは？") %>
<div id="fh5co-about">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="title-about">クックメニューとは？</h1>
        <h4>　自分が作った料理を、写真・メモ・材料などと共に記録できるサービスです。</h4>
      </div>
      <div class="col-md-10">
        <h2 class="title-use">主な使い方</h2>
        
      </div>
    </div>
  </div>
</div>