<nav class="fh5co-nav navbar-fixed-top" role="navigation">
  <div class="top-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div id="fh5co-logo">
            <%= link_to(image_tag("/images/header_logo.jpg", :alt => "header-logo"), root_url, id: 'logo') %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</nav>